In [1]:
import sys
print(sys.version)

3.8.13 (default, Mar 28 2022, 06:16:26)
[Clang 12.0.0 ]

In [4]:
from collections import abc
my_dict = {}
isinstance(my_dict, abc.Mapping)

len(my_dict)

0

In [3]:
mapping = abc.Mapping()

TypeError: Can't instantiate abstract class Mapping with abstract methods __getitem__, __iter__, __len__

In [5]:
isinstance(my_dict, abc.MutableMapping)

True

In [6]:
tt = (1, 2, (30, 40))
hash(tt)

-3907003130834322577

In [7]:
tl = (1, 2, [30, 40])
try:
    hash(tl)
except TypeError as e:
    print(e)

unhashable type: 'list'

In [8]:
tf = (1, 2, frozenset([30, 40]))
hash(tf)

5149391500123939311

In [1]:
a = dict(one=1, two=2, three=3)
b = {'three': 3, 'two': 2, 'one': 1}
c = dict([('two', 2), ('one', 1), ('three', 3)])
d = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

True

In [13]:
a is dict

False

In [2]:
a

{'one': 1, 'two': 2, 'three': 3}

In [3]:
list(a.keys())

['one', 'two', 'three']

In [5]:
list(a.keys())[0]

'one'

In [6]:
c

{'two': 2, 'one': 1, 'three': 3}

In [7]:
c.popitem()

('three', 3)

In [16]:
d2 = {"a": 1, "b": 2, "c": 3}

for key in d2:
    if key == "b":
        break
d2.popitem()

('c', 3)

In [8]:
c

{'two': 2, 'one': 1}

In [18]:
dial_codes = [                                                  # <1>
    (880, 'Bangladesh'),
    (55,  'Brazil'),
    (86,  'China'),
    (91,  'India'),
    (62,  'Indonesia'),
    (81,  'Japan'),
    (234, 'Nigeria'),
    (92,  'Pakistan'),
    (7,   'Russia'),
    (1,   'United States'),
]

In [19]:
country_dial = {country: code for code, country in dial_codes}
country_dial

{'Bangladesh': 880,
 'Brazil': 55,
 'China': 86,
 'India': 91,
 'Indonesia': 62,
 'Japan': 81,
 'Nigeria': 234,
 'Pakistan': 92,
 'Russia': 7,
 'United States': 1}

In [20]:
{code: country.upper() 
    for country, code in sorted(country_dial.items())
    if code < 70}

{55: 'BRAZIL', 62: 'INDONESIA', 7: 'RUSSIA', 1: 'UNITED STATES'}

In [21]:
from random import shuffle
shuffle(dial_codes)
country_dial = {country: code for code, country in dial_codes}
country_dial

{'India': 91,
 'China': 86,
 'Russia': 7,
 'Pakistan': 92,
 'Japan': 81,
 'Brazil': 55,
 'Indonesia': 62,
 'Bangladesh': 880,
 'United States': 1,
 'Nigeria': 234}

In [22]:
from collections import defaultdict  # <-- highly optimized data structures

d = defaultdict(list)

synonyms = [
    ("cat", "feline"),
    ("cat", "miss meowzers"),
]

d = {}
for head_word, synonym in synonyms:
    if head_word not in d:
        d[head_word] = [synonym]
    else:
        d[head_word].append(synonym)

d

{'cat': ['feline', 'miss meowzers']}

In [25]:
d = defaultdict(list)

for head_word, synonym in synonyms:
    d[head_word].append(synonym)

d

defaultdict(list, {'cat': ['feline', 'miss meowzers']})

In [26]:
d["cat"]

['feline', 'miss meowzers']

In [29]:
counter = defaultdict(int)

counter["cat"] += 1

counter

defaultdict(int, {'cat': 1})

In [32]:
from collections import Counter

c = Counter("cat cat dog dog dog".split())
c

Counter({'cat': 2, 'dog': 3})

In [33]:
s = "my cat"

s[0]

'm'

In [34]:
ints = [1,2,3]
ints[0]

1